.git

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/__pycache__/

# Editor directories and files
**/.vscode
**/!.vscode/extensions.json
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?


# Build files (only need to be deployed)
star_rail/domains/shared/static/public/dist
star_rail/domains/shared/static/public/dist